In [60]:
# Cargamos las librerías necesarias.
import pandas as pd
import pickle
import joblib
from sklearn.preprocessing import StandardScaler

In [61]:
# Cargamos nuestros datos.
X = pd.read_csv('../data/car_data_input_clean.csv', sep=',')

# Mostramos la forma y los primeros registros de nuestro DataFrame.
print(X.shape)
X.head()

(23199, 21)

,PRODUCTO,TIPO_CARROCERIA,COMBUSTIBLE,Potencia_,TRANS,FORMA_PAGO,ESTADO_CIVIL,GENERO,OcupaciOn,PROVINCIA,...,Campanna2,Campanna3,Zona _Renta,REV_Garantia,Averia_grave,QUEJA_CAC,COSTE_VENTA,km_anno,Revisiones,Edad Cliente
0,0,0,0,1,1,0,0,1,1,4,...,0,0,2,0,2,1,3.0,0,2,0
1,0,0,0,1,1,0,0,0,1,47,...,0,0,2,1,3,0,0.0,0,2,2
2,0,0,0,1,1,3,0,1,1,30,...,0,0,1,0,3,0,0.0,0,4,0
3,0,0,0,1,1,2,0,0,2,41,...,0,1,0,0,3,0,2.0,0,3,0
4,0,0,0,1,1,2,0,0,1,4,...,0,0,1,1,1,0,2.0,2,2,2

In [62]:
# Importamos el modelo XGBoost y la variable de mapeo.

# Cargar el modelo
modelo = joblib.load('../modelos/modelo_XGB.pkl')

# Cargar la variable
with open('mappings.pkl', 'rb') as archivo:
    mappings = pickle.load(archivo)

In [64]:
# Creamos un objeto StandardScaler.
scaler = StandardScaler()

# 1º Filtramos las columnas que tengan valores mayores a 1.
cols = [col for col in X.columns if X[col].max() > 1]

# 2º Ajustamos y escalamos las columnas especificadas.
for col in cols:
    X[col] = scaler.fit_transform(X[[col]])  # Escalamos cada columna de manera individual.

In [65]:
# Hacer predicciones en el conjunto de prueba
predictions = modelo.predict(X)

# También puedes obtener las probabilidades de las clases
probabilities = modelo.predict_proba(X)